*{
	padding: 0;
	margin: 0;
}
.row
{
	max-width: 1140px;
	margin-top: 0 auto;
}
body{
	font-family: Bree serif;
	scroll-behavior: smooth;
}
.header1{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("bg2.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}
.border{
	position: relative;
	left: 20px;
	top: 20px;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	border: 2px solid pink;
	overflow: hidden;
	max-width: 200px;
}
.border{transition: .5s}
.border:hover{transition: .5s; border: 2px solid deeppink;}
.border img{transition: .5s;max-width: 200px;}
.border img:hover{
	transition: .3s;
	scale: 1.2;
}
.nav{display: flex; float: right; list-style: none; margin-top: 50px; margin-right: -20px}
.nav li a{
	transition: .5s;
	text-decoration: none;
	color: white;
	margin-left: 30px;
}
.nav li a:hover{transition: .3s; color: deeppink;}
.top-info{
	position: absolute;
	top: 40%;
	left: 16%;
}
.smi{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 1%;
}
.smi i{
	padding: 15px 15px 15px 15px;
	margin-top: 3px;
	font-size: 20px;
	border-radius: 8px;
	background-color: #ff149390;
	color: white;
	transition: .3s;
 }
 .smi i:hover{transition: .2s; scale: 1.2}
.top-info h1{text-align: center; margin-bottom: 20px}
.text-deco{color: deeppink;}
.top-info p{max-width: 800px; text-align: justify; font-size: 16px;}
.header-btn {
	position: absolute;
	left: 31%;
	display: flex;
	margin-top: 40px;
}
.btn1 a{
	font-size: 15px;
	margin-left: 20px;
	border-radius: 50px;
	color: white;
	text-decoration:none;
	padding: 8px 18px 8px 18px;
	border: 2px solid deeppink;
	transition: .5s;
}
.btn1 a:hover{transition: .3s; background-color: #AA336A50;}
/*Header 2*/
.header2{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("bg2.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}
.h2{
	padding-top: 60px;
	text-align: center;
}
.h2:after{
	content: ' ';
	display: block;
	height: 2px;
	width: 150px;
	margin: 0 auto;
	background-color: deeppink;
	margin-top: 20px;
}
.myinfo{
	display: flex;
	margin-top: 50px;
	margin-left: 70px;
}
.myinfo p{max-width: 790px; text-align: justify;}
.text{font-size: 16px}
.img-hover{
	margin-left: 70px;
	overflow: hidden;
	position: relative;
	width: 215px;
	border-radius: 10px;
}
.content{
	background: rgba(255,20,147,.7);
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 320px;
	padding: 20px;
	padding-top: 50px;
	box-sizing: border-box;
	transition: .5s;
}
.img-hover:hover .content{
	left: 0;
	transition: .3s;
}
.content p{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 20px 0;
}

/*Header 3*/
.header3{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("bg2.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}
.h3{
	top: 60px;
	font-size: 25px;
	position: relative;
	text-align: center;
}
.h3:after{
	content: ' ';
	display: block;
	height: 2px;
	width: 150px;
	margin: 0 auto;
	background-color: deeppink;
	margin-top: 20px;
}
.img3 img{
	position: relative;
	left: -20px;
	margin-top: 90px;
	margin-bottom: 40px;
	margin-left: 100px;
	border-radius: 10px;
	transition: .5s;
}
.img3 img:hover{
	box-shadow: 0px 0px 200px 1px deeppink;
	transition: .3s;
	scale: 1.1;
}
.para3{display: flex;}
.para1 {
	position: relative;
	right: 10px;
	margin-left: 80px;
	font-size: 14px;
	max-width: 300px;
	text-align: justify;
 }

 /*Header 4*/
.header4{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("bg2.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}
.h4{
	padding-top: 40px;
	font-size: 21px;
	font-weight: lighter;
	text-align: center;
}
.h4:after{
	content: ' ';
	display: block;
	height: 2px;
	width: 150px;
	margin: 0 auto;
	background-color: deeppink;
	margin-top: 10px;
}
.images{
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	top: 15px;
	left: 170px;
	max-width: 840px;
	max-height: 500px;
}
.images img{transition: .5s}
.images img:hover{
	transition: .3s;
	scale: 1.1;
}
/*Header 5*/
.header5{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("bg2.jpg");
	height: 110vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}
.h5{
	top: 50px;
	padding-top: 50px;
	font-size: 25px;
	position: relative;
	text-align: center;
}
.h5:after{
	content: ' ';
	display: block;
	height: 2px;
	width: 150px;
	margin: 0 auto;
	background-color: deeppink;
	margin-top: 20px;
}
.box{
	position: absolute;
	display: flex;
}
.container{
	height: 280px;
	width: 230px;
	margin-top: 110px;
	margin-left: 55px;
	border-radius: 20px;
	background-color: #7788995e;
	transition: .5s;
}
 .container:hover{
 	transition: .3s;
	box-shadow: 0px 0px 100px 1px deeppink;
 }
.container img{
	transition: .5s;
	position: relative;
	top: 15px;
	left: 15px;
	width: 200px;
	overflow: hidden;
	border-radius: 20px;
}
.container img:hover{	
	transform: scale(1.1);
 	transition: .3s;
}

.container h7{
	font-size: 14px;
	position: relative;
	top: 25px;
}
.container p{
	font-size: 14px;
	position: relative;
	top: 40px;
	text-align: center;
}
.h6{
	top: 450px;
	font-size: 25px;
	position: relative;
	text-align: center;
}
.h6:after{
	content: ' ';
	display: block;
	height: 2px;
	width: 150px;
	margin: 0 auto;
	background-color: deeppink;
	margin-top: 20px;
}
