*{
margin: 0;
padding: 0;
}

body{
	font-family: sans-serif;
}
.container{
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-image: url(background.png);
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}
.navbar{
	width: 100%;
	height:  15vh;
	margin: auto;
	display: flex;
	align-items: center;

}
.logo{
width:  120px;
cursor: pointer;}

#search{
	color: white;
	position: relative;
	width: 200px; height: 25px;
	border-radius: 20px;
	background: linear-gradient(15deg, #87adfe, #ff77cd);
	border: 2px solid white;
}
#searchbtn{
	border-radius: 18px;
	width: 27px; height:27px;
	color: white;
	border: 2px solid white;
	background: linear-gradient(15deg, #87adfe, #ff77cd);
	font-size: 15px; cursor: pointer;
}
.cart{
width:  40px;
cursor: pointer;position: relative; left:3%}

nav{
flex: 1;
padding-left: 60px;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin:  0px 20px;
}
nav ul li a{
	text-decoration: none;
	color: #333;	
}
nav a:hover{
color: #ff512f;
	border-bottom: 2px solid;
	transition: 0.5s ease-out;
	padding: 15px 0;
}
.content h1{
	font-size: 50px;
	font-family: times new roman;
	font-weight: lighter;
	margin-top:24px;
	margin-bottom: 15px;
	color: #232d60;
}
.content p{
	font-size: 16px;
	color: #6a7199;
}
.content{
	margin-left:  10%;
	margin-top: 9%;
}
.content .btn{
	display: inline-block;
	background: linear-gradient(15deg, #87adfe, #ff77cd);
	border-radius: 6px;
	padding:  8px 12px;
	font-size: 14px;
	box-sizing: border-box;
	text-decoration: none;
	color:#fff;
	box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.arrow-icons{
	position: absolute;
	left: 14%;
	margin-top:30px;
	display: flex;
}
.arrow-icons img{
	cursor: pointer;
	margin-right: 25px;
	width: 40px;
}
.feature-img{
	height: 90%;
	position: absolute;
	bottom: 0;
	right: 160px;

} 
.social{
	position:fixed;
	left: 1%;
}
.fb i {
	padding: 10px 17px 10px 10px;
	border-radius: 5px;
	background: linear-gradient(50deg, #87adfe, #ff77cd);
	font-size: 25px;
	color: white ;
}
.wp i {
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	background: linear-gradient(50deg, #87adfe, #ff77cd);
	font-size: 25px;
	color: white ;
}
.ig i {
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	background: linear-gradient(50deg, #87adfe, #ff77cd);
	font-size: 25px;
	color: white ;
}
.fb a i{margin-bottom: 5px;}
.wp a i{margin-bottom: 5px;}
.fb i:hover{transition: .5s; transform: rotate(360deg);}
.wp i:hover{transition: .5s; transform: rotate(360deg);}
.ig i:hover{transition: .5s; transform: rotate(360deg);}

#store{
	width: 1140px;
	margin:  0 auto;
}

h2{
	font-weight: 100;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 15px;
}

.heading{
	margin-top: 90px;
}
.heading:after{
	content: "";
	width: 290px;
	display: block;
	margin:  0 auto;
    margin-top: 15px ;
	height: 2px;
	background: linear-gradient(15deg, #87adfe, #ff77cd);
	transition: .5s;
}
.heading:hover:after{
	transition: .5s;
	width:  340px;
}

.main{
	text-align: justify;
	margin-top: 40px;
}
.col1, .col2, .col3{
	width: 340px;
	float: left;
	margin: 20px;
	text-align: justify;
}
h3{
	font-size: 30px;
	font-weight: lighter;
	color: #87adfe;
	text-align: center;;
}
.h3heading{margin-top: 32%;}
.h3heading:after{
	content: "";
	display: block;
	background: linear-gradient(15deg, #87adfe, #ff77cd);
	height: 2px;
	width: 550px;
	margin: 0 auto;
	margin-top: 15px;
	transition: .5s;
}
.h3heading:hover:after{
	transition: .5s;
	width: 600px;
}
.urban-image{overflow: hidden;	margin-top: 55px;}
.urban-image img{
	transform: scale(1.05);
 	transition: transform 0.5s;
	position: relative;
	left: 7%;
	height:  650px;
}
.urban-image img:hover{
	transition: .5s;
	transform: scale(1.01);
}
.col-md-1{
	width: 100%;
	position: absolute;
	margin-top:7%;
	margin-bottom: 5%;
}
.col-md-2{
	width: 600px;
	text-align: justify;
	margin-left:45.9%;
	margin-top: 7%;
	margin-bottom: 5%;
}
.design{
	background: linear-gradient(15deg, #87adfe, #ff77cd);
	color: white;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.02),0px 5px 5px 2px rgba(0, 0, 0, 0.17);
	margin-bottom: 17px;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	display: inline-block;
}
meal-it{list-style: none ;}
 .meal-it li
 {
 	 position: relative;
 	 left:  18%;
 	width: 30%;
 	float:left;
 	overflow: hidden;
 }
 li img{
    margin-left: 25%;
 	height: 550px;
 	transform: scale(1.15);
 	transition: transform 0.5s;
 }
 li img:hover
 {
 	transform: scale(1.10);
 	transition: all 0.5s ;
 }
h4{
	text-align: center;
	font-size: 35px;
	font-weight: lighter;
}
h4:after{
	content: "";
	width: 290px;
	display: block;
	margin:  0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
	height: 2px;
	background: linear-gradient(15deg, #87adfe, #ff77cd);
	transition: .5s;
}
h4:hover:after{
	transition: .5s;
	width: 320px;
}
