    .wrapper{
    	position: fixed;
    	top: 50%;
    } 
    .share{
    	z-index: 2;
    	width: 58px;
    	height: 58px;
    	background: red;
    	position: relative;
    	cursor: pointer;
    	transition: .5s;
    }
    .share .fa{
    	z-index: 2;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);
    	color: #fff;
    	font-size: 25px;
    }
    .share.facebook{
    	background: #3b5999;}
    .share.twitter{
        background:#55acee;}
    .share.whatsapp{
       background:#25D366;}
    .share.youtube{
       background:#cd201f;}
    .share.google{
    	background:#dd4339;}
    .share:hover{
    	width: 200px;}

.container-fluid{padding: 0;}
*
{
	margin: 0;
	padding: 0;
}
.row {max-width: 1140px; margin-top: 0;}

body{
    font-family: tahoma;
    scroll-behavior: smooth; 
}

.hero{ 
	font-size: 17px;
	position: absolute;
	width: 1140px;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}
header{background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,0.3)),url("pexels-ella-olsson-3026808.jpg");
height:100vh;
background-position: center; 
background-size: cover;
background-attachment: fixed;
}
.hero h1{color: white; font-family: arial; font-weight: bold;}
.main-nav{
	position: absolute;
	top: 50px;
	left: 834px;
}
.main-nav li{
	transition: .5s ease;
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a{
	transition: .5s ease;
	color: white;
	text-decoration: none;
font-size: 16px;
	font-weight: bold;
}
.main-nav a:hover{
	color: #ff512f;
	border-bottom:  2px solid;
	transition: 0.5s ease-out;
	padding: 15px 0;
}

.logo img{
	height: 100px;
	position: absolute;
	top: 30px;
	left:90px;
	cursor: pointer;
}
.mybutton
{
	font-family: arial;
	font-size: 14px;
	padding-top: 9px;
	padding-bottom:9px;
	padding-left: 8px;
	padding-right: 15px;
	text-decoration: none;
	text-align: center;
	background: transparent;
	color: #fff;
	border: 2px solid #ff512f;
	margin-right: 15px;
	border-radius: 5px;
}
.mybutton:hover
{
	background: #ff512f;
	transition: 0.5s;
	color: #fff;
	box-shadow: 5px 5px 10px #000;
}
.button {margin-top: 61px;}
.meal-it {list-style: none ; width: 100%;}


 .google
 {
 	position:absolute;
 	left: 550px;
 	top: 665px;
 	margin-top: 23px;
 }
#fkbx-spch {
   position: absolute;
   top: 768px;
   left: 790px;
}  
#fkbx-spch {
    cursor: pointer;
    height: 45px;
    z-index: 1;
    background: url(Images/voice.png) no-repeat center;
    background-size: 20px 25px;
    position: absolute;
    top: 117.2%;
    right: 37%;
}
.search{
	background: transparent;
 	position: absolute;
 	border-radius: 2px;
 	top: 780px;
	left: 479px;
	width: 25%;
	padding: 6.5px;
	font-size: 19px;
}
.search:hover {box-shadow:0 2px 0px 0 rgba(0,0,0,0.19),0 0 0 0px rgba(0,0,0,0.19); transition: 0.2s;}
.submit
{
	position: absolute;
	top: 779px;
	left: 820.5px;
	padding: 8px;
	font-size: 17px;
	background-color: red;
	color: white;
	cursor: pointer;
}
.submit:hover{background: #007ee5; transition: 1.5s;}
.features{margin-top: 200px;}

 .main {text-align: justify;}
 .easy {text-align: justify;}
 .gt {margin-bottom: 20px;}
  h3 .gt {font-size: 22px;}
 
 .easy li
 {
 	color: #ff00ff;
 	font-size: 30px;
 	text-align: center;
 	margin-left: 50%;
 	margin-top: 10%;
 }
 .container{
	padding: 0;
	margin: 0;
	margin-left: 20px;
 }

h1 {padding-top: 90px;}
.container-type{
	margin: 50px auto;
	width: 600px;
 }
.imagebox{position: relative; overflow: hidden;}
.imagebox img{width:100%; cursor: pointer;}
.textbox{
	position: absolute;
	top: 0%;
	left: -100%;
	height: 100%;
	width: 100%;
	background: rgba(255,0,0,.8);
	transition: .5s;
 }
.textbox h2{font-size: 30px;color: #fff;margin-top: 200px;}
.imagebox:hover .textbox{left: 0%;}

@Keyframes slider{

0%
 {
	left: 0;
 }	
10%
 {
	left: 0;
 }
20%
 {
	left: -100%;
 }
30%
  { 
	left: -100%;
 }
40%
 {
	left: -200%;
 }
50%
 {
	left: -200%;
 }
60%
 {
	left: -300%;
 }
80%
 {
	left: -300%;
 }
90%
 {
	left: -400%;
 }
100%
 {
    left: -400%; 
 }
 }
#slider{overflow: hidden;}

figure img{width:200%;}

#slider figure img{
	width: 20%;
	float: left;
	cursor: pointer;
 }
#slider figure{
	position: relative;
	width: 500%;
	margin-top: 30px;
	left: 0;
	bottom: 0px;
	text-align: right;
	font-size: 0;
	animation: 10s slider infinite;
 }
.container-class{margin-top: 40px;}
.hoverbutton{
	font-family: arial;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom:8px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	background-color: #ff512f;
	color: #fff!important;
	border-radius: 5px;
	transition: 1s;
 }	
.hoverbutton:hover{box-shadow: 5px 5px 10px #000; transition: .5s; animation: color 2s infinite;}
@Keyframes color{

0%{background: #f50;}
10%{background: #f22613;}
20%{background: #db0a5b;}
30%{background: #e08283;}
40%{background: #663399;}
50%{background: #bf55ec;}
60%{background: #bf55ec;}
70%{background: #4183d7;}
80%{background: #336e7b;}
90%{background: #6bb9f0;}
100%{background: #f50;}
 }
 .loading{
 	position: relative;
 	margin-left: 45%;
 	margin-top: 8%;
 	bottom: 50px;
 }
.loader{
 	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}
.load{
	position: absolute;
	font-family: Arial; font-weight: bold;
 	bottom: -2710px;
 	left: 42.5%;
}
@keyframes spin{
	0% { transform: rotate(0deg); }
	100% {transform: rotate(360deg);}
}	
.cardbox{
	perspective: 500px;
	margin: 15px;
}
.card{
	position:relative;
	width: 150px;
	height: 150px;
	background: #fff;
	transform-style: preserve-3d;
	transition: .5s ease;
    box-shadow: 0 30px 30px rgba(0,0,0,0.5); 
}
.Facebook{
	background: #3b5999;
}
.twitter{
	background: #007ee5;
}
.Google{
	background: #dd4b39;
}
.cardfront, .cardback{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	color: #fff;
	backface-visibility: hidden;
}
.cardfront{
	display: flex;
	font-size: 40px;
	justify-content: center;
	align-items: center;
}
.cardback{
	display: flex;
	font-size: 30px;
	justify-content: center;
	align-items: center;
}
.cardbox:hover .card{
	transform: rotateY(180deg); 
}
.cardback{
	transform: rotateY(180deg);
}

canvas{
	width: 100px;
	height: 100px;
	position: relative;
	background: red;
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
	cursor: pointer;
}
@-webkit-Keyframes mymove{
	0%{top: 0px; left: 0px; background: red;}
	25%{top: 0px; left: 150px; background: blue;}
	50%{top: 100px; left: 150px; background: yellow;}
	75%{top: 100px; left: 0px; background: green;}
	100%{top: 0px; left: 0px; background: red;}
}

 .raadio {
 	text-decoration: none;
 	color: red;
 	position: absolute;
 	left: 42%;
 	display: block;
 	padding-top: 10px;
 	padding-left: 8px;
 	padding-right: 8px;
 	padding-bottom: 10px;
 	background-color: black;
 	cursor: pointer;
    transition: .8s; 
    margin-top: 2%;
 	margin-bottom: 3%;
}
.raadio:hover{
	transition: .8s;
	padding-right: 50px;
	border-radius: 20px;
}
.raadio:active{
	opacity: 5;
	transition: .2s;
	background: red;
}
h4:after{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
	content: "";
	display: block;
	height: 2px;
	background-color: #ff512f;
	width: 100%;
}
span:hover{
	cursor: pointer;
}
span:active{
	background: #ff512f;
}

.box{
	position: relative;
	left: 42%;
	margin-top: 10%;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
}
.box:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
	border-top: 4px solid #58c747;
	border-bottom: 4px solid #58c747;
	box-sizing: border-box;
	transition: .5s;
	transform: scaleX(0);
}
.box:hover:before{
	cursor: pointer;
	transition: .5s;
	transform: scaleX(1);
}
.box:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
	border-right: 4px solid #58c747;
	border-left: 4px solid #58c747;
	box-sizing: border-box;
	transition: .5s;
	transform: scaleY(0);
}
.box:hover:after{
	cursor: pointer;
	transition-delay: .5s;
	transform: scaleY(1);
}
.box h1{
	margin: 0;
	padding: 0;
	color: red;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	z-index: 1;
}
.box h1 section{
	transition: 1s;
	font-size: 36px;
	display: block;
	color: #58c747;
}
.box:Hover h1 section{
	cursor: pointer;
}

.box section.border{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	transform: rotate(45deg);
	pointer-events: none;
	box-sizing: border-box;
}
.box section.border:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
	border-top: 4px solid #58c747;
	border-bottom: 4px solid #58c747;
	box-sizing: border-box;
	transition: .5s;
	transform: scaleX(0);
}
.box:hover section.border:before{
	cursor: pointer;
	transition-delay: 1s;
	transform: scaleX(1);
}
.box section.border:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
	border-right: 4px solid #58c747;
	border-left: 4px solid #58c747;
	box-sizing: border-box;
	transition: .5s;
	transform: scaleY(0);
}
.box:hover section.border:after{
	cursor: pointer;
	transition-delay: 1.5s;
	transform: scaleY(1);
}
.box section:active{
	transition: 1s;
	transform: scale(5);
	}

.shadow{
	cursor: pointer;
	position: relative;
	margin: 200px auto 0;margin-bottom: 8%;
	width: 400px;
	height: 250px;
	background: linear-gradient(0deg,#000,#262626);
}
.shadow:before,.shadow:after
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,
		#0000ff,#00ff00,#ffff00,#ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
}
.shadow:after{
	filter: blur(30px);
}
@keyframes animate{
	0%
	{
       background-position: 0,
	}
	50%
	{
       background-position: 300% 0;
	}
	100%
	{
       background-position: 0,
	}
}
.black{
	position: relative;
	z-index: -2;
    left: -23%;
    top: -30%;
	width: 600px;
	height: 400px;
	background-color: #333;
}
.heading{
	position: relative;
	font-size: 30px;
	left: 24%;
	top: -15%;
}

